*
{
margin: 0%;
padding: 0%;
}
.header{
    background-color: black;
    color: gold;
}
h1{
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
h2{
    text-align: left;
}
.photo{
    margin-top: auto;
    width: 1354px;
    height: 400px;

}
.footer{
    background-color: black;
    color: gold;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
}